<?xml version="1.0" encoding="utf-8" ?>
<site
  contentPath="~/Config/content/"
  acceptedCultures="vi-VN,en-US"
  defaultCultureName="vi-VN"
  listNewsPerPage="8">
  <ui topicsPerPage="10"
      listNewsPerPage="7"
      tagsCloudCount="30"
      messagesPerPage="10"
      showUserDetailsOnList="true"
      defaultForumSort="LatestActivity"
      dateFormat="dd/MM/yyyy | hh:mm">
    <template
      useTemplates="true">
      <mobile
        regex="(up.browser|up.link|mmp|symbian|smartphone|midp|wap|phone|windows ce|pda|mobile|mini|palm|ipad|android)" />
    </template>
    <resources
      jqueryUrl="~/scripts/jquery-1.7.1.min.js"
    />
    <!-- can be local paths or external urls (CDNs)-->
  </ui>

  <authenticationProviders fakeProvider="false">

  </authenticationProviders>
  <replacements>
    <add pattern="(?&lt;=^|\s|&gt;)(#(\d+))"
         replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;[$1]&lt;/a&gt;" />
    <add pattern=":\)"
         replacement="&lt;img src=&quot;http://mail.google.com/mail/help/images/whatsnew/emoji_smile.gif&quot; alt=&quot;smile&quot; /&gt;" />
  </replacements>
</site>